.sredina{
    text-align:center;
}
.lekari{
    size: 50px;
    color: rgb(225, 235, 244);
}
.tabela{
    background-color: #54B4D3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.dugme{
    background-color: whitesmoke;
    border-color: black;
}

.menadzer{
    color: blue;
    text-align: right;
}

.table td, .table th {
    font-size: 18px;
}



.levo{
    text-align: left;
    
}

.polja{display:block;
    width:50;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:var(--bs-body-color);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:var(--bs-body-bg);
    background-clip:padding-box;
    border:var(--bs-border-width) solid var(--bs-border-color);
    border-radius:var(--bs-border-radius);
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.carousel-item{
    height:32rem;
    background: #777;
    color:white;
    position: relative;

}

.container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    
}
body{
    background-color: aliceblue;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bold;
}







