.bordo{
    color:rgb(161, 38, 38)
}
.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background-color: aliceblue;
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }